<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 2.8 MB/s eta 0:00:00[31m2.7 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1160059 sha256=8bdaa36c5d0e905c4c9cf94787a477f85dd98d2e99501e0f768607543e6d1468
  Stored in directory: /home/frank/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /home/frank/bin/anaconda/lib/python3.12/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/frank/bin/anaconda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in /home/frank/bin/anaconda/lib/python3.12/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/frank/bin/anaconda/lib/python3.12/site-packages (3.5.0)
Requirement already satisfied: ipython>=1.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /home/frank/bin/anaconda/lib/python3.12/site-packages (from prettytable) (0.2.5)
Requirement already satisfied: decorator in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/frank/bin/anaconda/lib/python3.12/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /home/frank/bin/anaconda/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%load_ext sql
%sql sqlite:///my_data1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
module 'sqlalchemy.util' has no attribute 'py2k'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
cur.execute('pragma table_info(SPACEXTBL)')
cur.fetchall()

cur.execute('select * from SPACEXTBL')
col_names = [cn[0] for cn in cur.description]
col_names

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing_Outcome']

In [13]:
cur.execute("select distinct(Launch_Site) from SPACEXTBL")
cur.fetchall()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
col_names = [cn[0] for cn in cur.description]
col_names

cur.execute('''
               select * from SPACEXTBL 
               where Launch_Site  like "CCA%"
               limit 5
               ''')

rows = cur.fetchall()
x = prettytable.PrettyTable(col_names)

for row in rows:
    x.add_row(row)

print(x)

ValueError: Row has incorrect number of values, (actual) 10!=1 (expected)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
cur.execute('''
               select sum("PAYLOAD_MASS__KG_") from SPACEXTBL
               where Customer = "NASA (CRS)"
            ''')
cur.fetchall()

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [57]:
cur.execute('''
               select avg("PAYLOAD_MASS__KG_") from SPACEXTBL
               where Booster_Version = "F9 v1.1"
            ''')
cur.fetchall()

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [58]:
cur.execute('''
               select min(Date) from SPACEXTBL limit 1
            ''')

cur.fetchall()

[('2010-06-04',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [61]:
cur.execute('''
               select Booster_Version from SPACEXTBL
               where ("PAYLOAD_MASS__KG_" between 4000 and 6000)
               and Landing_Outcome = "Success (drone ship)"
            ''')

cur.fetchall()

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [83]:
cur.execute('''
               select count(Mission_Outcome) from SPACEXTBL
               where Mission_Outcome like "Success%"
            ''')

mission_success = cur.fetchall()

cur.execute('''
               select count(Mission_Outcome) from SPACEXTBL
               where Mission_Outcome like "Failure%"
            ''')

mission_fail = cur.fetchall()

print('mission completed successfuly = ', mission_success[0][0])
print('mission fail to complete = ', mission_fail[0][0])

cur.execute('''
               select distinct(Mission_Outcome) from SPACEXTBL
            ''')
cur.fetchall()

mission completed successfuly =  100
mission fail to complete =  1

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [88]:
cur.execute('''
               select Booster_Version from SPACEXTBL
               where "PAYLOAD_MASS__KG_" = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)
            ''')

cur.fetchall()

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [94]:
cur.execute('''
               select Date,Booster_Version,Launch_Site from SPACEXTBL
               where substr(Date,0,5) = "2015" and
               Landing_Outcome = "Failure (drone ship)"
            ''')

cur.fetchall()

[('2015-01-10', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015-04-14', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [103]:
cur.execute('''
               select * from SPACEXTBL
               where substr(Date,0,5) between "2010" and "2017" and
               Landing_Outcome = "Success (ground pad)"
               order by substr(Date,0.5) desc
            ''')

col_names = [cn[0] for cn in cur.description]
col_names

rows = cur.fetchall()
x = prettytable.PrettyTable(col_names)

for row in rows:
    x.add_row(row)

print(x)

+------------+------------+-----------------+--------------+------------------------------------------+-------------------+-----------+----------------+-----------------+----------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site  |                 Payload                  | PAYLOAD_MASS__KG_ |   Orbit   |    Customer    | Mission_Outcome |   Landing_Outcome    |
+------------+------------+-----------------+--------------+------------------------------------------+-------------------+-----------+----------------+-----------------+----------------------+
| 2017-12-15 |  15:36:00  |  F9 FT  B1035.2 | CCAFS SLC-40 |              SpaceX CRS-13               |        2205       | LEO (ISS) |   NASA (CRS)   |     Success     | Success (ground pad) |
| 2017-09-07 |  14:00:00  |  F9 B4 B1040.1  |  KSC LC-39A  |            Boeing X-37B OTV-5            |        4990       |    LEO    | U.S. Air Force |     Success     | Success (ground pad) |
| 2017-08-14 |  16:31:00  |  F9 B4 B1039.1  |  KSC LC-39A  |              SpaceX CRS-12               |        3310       | LEO (ISS) |   NASA (CRS)   |     Success     | Success (ground pad) |
| 2017-06-03 |  21:07:00  |  F9 FT B1035.1  |  KSC LC-39A  |              SpaceX CRS-11               |        2708       | LEO (ISS) |   NASA (CRS)   |     Success     | Success (ground pad) |
| 2017-05-01 |  11:15:00  |  F9 FT B1032.1  |  KSC LC-39A  |                 NROL-76                  |        5300       |    LEO    |      NRO       |     Success     | Success (ground pad) |
| 2017-02-19 |  14:39:00  |  F9 FT B1031.1  |  KSC LC-39A  |              SpaceX CRS-10               |        2490       | LEO (ISS) |   NASA (CRS)   |     Success     | Success (ground pad) |
| 2016-07-18 |  4:45:00   |  F9 FT B1025.1  | CCAFS LC-40  |               SpaceX CRS-9               |        2257       | LEO (ISS) |   NASA (CRS)   |     Success     | Success (ground pad) |
| 2015-12-22 |  1:29:00   |   F9 FT B1019   | CCAFS LC-40  | OG2 Mission 2  11 Orbcomm-OG2 satellites |        2034       |    LEO    |    Orbcomm     |     Success     | Success (ground pad) |
+------------+------------+-----------------+--------------+------------------------------------------+-------------------+-----------+----------------+-----------------+----------------------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>